[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-3-jet = "*"
django-tailwind = "*"
gunicorn = "*"
feedparser = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python djapps/manage.py runserver 0.0.0.0:80"
shell = "python djapps/manage.py shell"
build = "python djapps/manage.py tailwind build"
collect = "python djapps/manage.py collectstatic"
